<div class="bg-light row no-gutters pt-3">

  <div class="col-10 border border-dark text-center mx-auto mb-3">
    <h3 class="text-muted">GuidedMusic</h3>
  </div>

  <div class="col-12"></div>
  <nav class="nav nav-tabs col-12 col-md-4 pl-2">

    <a class="nav-item nav-link" [routerLink]="['']">
      <i class="fa fa-home"></i>
    </a>
    <a class="nav-item nav-link" [routerLink]="['','music']">music</a>
    <a class="nav-item nav-link" [routerLink]="['','artist']">artists</a>
    <a class="nav-item nav-link" [routerLink]="['','panel','upload']">
      <i class="fa fa-dashboard"></i> panel
    </a>

  </nav>

</div>