<div class="table-responsive w-100">


  <table class="table-striped">


    <thead class="table-dark">
      <tr class="py-3">
        <th scope="col">#count</th>
        <th scope="col">Uploader</th>
        <th scope="col">Track Name</th>
        <th scope="col">Time</th>
        <th scope="col">Accepted(y/n)</th>
        <th scope="col">Phone</th>
        <th scope="col">Network</th>
      </tr>
    </thead>


    <tbody>
      <tr>
        <td>$</td>
        <td>[Uploader]</td>
        <td>[trackName]</td>
        <td>[Time]</td>
        <td>[Accepted]</td>
        <td>[Phone]</td>
        <td>[Network]</td>
      </tr>
    </tbody>
  </table>


</div>